.spotify-app {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
  }
  
  .sidebar-logo {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav li {
    padding: 10px;
    border-bottom: 1px solid #444;
  }
  
  .sidebar-nav li:hover {
    background-color: #444;
  }
  
  .sidebar-nav li i {
    margin-right: 10px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #637a5e;
  }
  
  /* Adjust Search bar positioning */
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .header .search-bar {
    flex-grow: 1;
    margin-right: 20px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #637a5e;
  }
  
  .recommended {
    padding-top: 20px;
  }
  
  .recommended-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  .recommended-item {
    width: calc(25% - 20px);
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  .recommended-item:hover {
    transform: scale(1.05);
  }
  
  .recommended-item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .recommended-item h3 {
    font-size: 16px;
    margin-top: 10px;
    color: white;
  }
  
  .recommended-item p {
    font-size: 14px;
    color: white;
  }
  
  .audio-player-small {
    width: 100%;
    margin-top: 10px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .recommended-item {
      width: calc(33.33% - 20px);
    }
  }
  
  @media (max-width: 992px) {
    .recommended-item {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
  
    .recommended-item {
      width: calc(50% - 20px);
    }
  
    .search-bar input {
      padding: 8px;
    }
  }
  
  @media (max-width: 576px) {
    .spotify-app {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      padding: 10px;
    }
  
    .main-content {
      padding: 10px;
    }
  
    .recommended-item {
      width: calc(100% - 20px);
    }
  
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar input {
      width: 100%;
      padding: 10px;
    }
  }
  

  